* {
    box-sizing: border-box;
}
.page {
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    margin: 0;   
}
.container {
    width: 70%;
    margin: 0 auto;
    background-color: darkgrey;
    color: aliceblue;
}